In [ ]:
#'Q-1 : Write a code to create a string with your name and print it

name="My name is Sachin Thakur"
print(name)

My name is Sachin Thakur

In [ ]:
#Q-2: Write a code to find the length of the string "Hello World"
print(len("Hello World"))

11

In [ ]:
#Q-3:Write a code to slice the first 3 characters from the string "Python Programming"
print("Python Programming"[0:3])

Pyt

In [ ]:
#Q-4:Write a code to convert the string "hello" to uppercase
print("hello".upper())

HELLO

In [ ]:
#Q-5:Write a code to replace the word "apple" with "orange" in the string "I like apple"
print("I like apple".replace("apple","orange"))

I like orange

In [ ]:
#Q-6 Write a code to create a list with numbers 1 to 5 and print it
list=[]
for i in range(1,6):
    list.append(i)
print(list)

[1, 2, 3, 4, 5]

In [ ]:
#Q-7: Write a code to append the number 10 to the list [1, 2, 3, 4]
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
#Q-8:Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
#Q-9:Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list=['a','b','c','d']
print(list[1])

b

In [ ]:
#Q-10:Write a code to reverse the list [10, 20, 30, 40, 50].
list=[10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [ ]:
#Q-11: Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple=(100,200,300)
print(tuple)

(100, 200, 300)

In [ ]:
#Q-12:Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tuple=('red','green','blue','yellow')
print(tuple[2:])

('blue', 'yellow')

In [2]:
# Q-13: Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple=(10,20,5,15)
print(min(my_tuple))

5

In [3]:
#Q-14: Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple=('dog','cat','rabbit')
print(my_tuple.index('cat'))

1

In [6]:
#Q-15: Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits=('apple','grapes','kiwi')
if 'kiwi' in fruits:
  print("kiwi is in fruits tuple")
else:
  print("Kiwi is not fruits tuple")

kiwi is in fruits tuple

In [7]:
#Q-16 :Write a code to create a set with the elements 'a', 'b', 'c' and print it
my_set={'a','b','c'}
print(my_set)

{'a', 'c', 'b'}

In [8]:
#Q-17 :  Write a code to clear all elements from the set {1, 2, 3, 4, 5}
my_set={1,2,3,4,5}
print(my_set) #Before clear the set
my_set.clear()
print(my_set)#After the clear the set

{1, 2, 3, 4, 5}
set()

In [11]:
#Q-18: Write a code to remove the element 4 from the set {1, 2, 3, 4}
my_set={1,2,3,4}
print(my_set)#Before remove in the 4 from the set
my_set.remove(4)
print(my_set)# After removing the 4 from the set

{1, 2, 3, 4}
{1, 2, 3}

In [12]:
#Q-19: Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set_1={1,2,3}
set_2={3,4,5}
set_1|set_2   #union>> combine all the elements

{1, 2, 3, 4, 5}

In [13]:
#Q-20: Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set_1={1,2,3}
set_2={2,3,4}
set_1 & set_2 #intersection >> common elements

{2, 3}

In [15]:
#Q-21: Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict={
    'name':'Sachin',
    'age':25,
    'city':"Gorakhpur"
}
print(dict)

{'name': 'Sachin', 'age': 25, 'city': 'Gorakhpur'}

In [18]:
#Q-22: Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict={
    'name':'John',
    'age':25
    }
print(dict) #Before adding "country " as a key
dict["country"]="USA"
print(dict) #After adding "country" as a key

{'name': 'John', 'age': 25}
{'name': 'John', 'age': 25, 'country': 'USA'}

In [19]:
#Q-23: Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
dict={'name': 'Alice', 'age': 30}
print(dict['name'])

Alice

In [24]:
#Q-24: Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict= {'name': 'Bob', 'age': 22, 'city': 'New York'}
print(dict)
del dict["age"]
print(dict)

{'name': 'Bob', 'age': 22, 'city': 'New York'}
{'name': 'Bob', 'city': 'New York'}

In [26]:
#Q-25: Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
d={'name': 'Alice', 'city': 'Paris'}
if "city" in d:
  print("City is present in d")
else:
  print("City is not present in d")

City is present in d

In [ ]:
#Q-26: Write a code to create a list, a tuple, and a dictionary, and print them all

# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a tuple
my_tuple = (6, 7, 8, 9, 10)

# Create a dictionary
my_dict = {"name": "Alice", "age": 30, "city": "New York"}

# Print the list, tuple, and dictionary
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

In [37]:
#Q-27: Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random

# Create a list of 5 random numbers between 1 and 100
random_numbers=[random.randint(1,100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Print the random number\n",random_numbers)

Print the random number
 [2, 6, 22, 43, 57]

In [39]:
#Q-28: Write a code to create a list with strings and print the element at the third index.
list=['ram' ,'shayam','rahul','priya']
print(list[2])

rahul

In [47]:
#Q-29: Write a code to combine two dictionaries into one and print the result

d1={"name": "Alice", "age": 30}
d2= {"city": "Gorakhpur", "Country":"India"}
combine=d1|d2
print(combine)

{'name': 'Alice', 'age': 30, 'city': 'Gorakhpur', 'Country': 'India'}

In [51]:
#Q-30: Write a code to convert a list of strings into a set.
# List of strings
string_list = ["apple", "banana", "cherry", "apple", "banana"]

# Convert the list to a set
string_set = set(string_list)

# Print the result
print("Set of strings:", string_set)

Set of strings: {'cherry', 'banana', 'apple'}